@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F6;
}

/* Header styles */
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 600;
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #10B981;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #059669;
}

button.help-btn {
  background-color: #3B82F6;
  margin-left: 10px;
}

button.help-btn:hover {
  background-color: #2563EB;
}


/* Task list styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}

li button {
  background-color: #EF4444;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

li button.edit-btn {
  background-color: #FBBF24;
  margin-right: 10px;
}

li button:hover {
  background-color: #DC2626;
}

li.completed {
  background-color: #DBEAFE;
  text-decoration: line-through;
  color: #9CA3AF;
}